body {

    background-color: rgb(192, 192, 192);

}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

@font-face {
    font-family: 'Film1Font';
    src: url('../fonts/ofont.ru_Oldtimer.ttf');
}

.film1 {
    font-family: 'Film1Font', sans-serif;
}

@font-face {
    font-family: 'Film2Font';
    src: url('../fonts/ofont.ru_Bowler.ttf');
}

.film2 {
    font-family: 'Film2Font', sans-serif;
}

@font-face {
    font-family: 'Film3Font';
    src: url('../fonts/ofont.ru_Ramona.ttf');
}

.film3 {
    font-family: 'Film3Font', sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

.film1 p {
    text-align: center;
}

.film2 p {
    text-align: right;
}

.film3 p {
    text-align: left;
}



img {
    width: 300px;
    height: auto;
    border-radius: 5%;
}

.bold {
    font-weight: bold;
}
